<h1> Franchise</h1>

<%= link_to 'Terrirtories', territory_path %>s</a>
   <%= link_to 'Company Info', about_path %>
<%= link_to 'Franchise', franchise_path %>
<%= link_to 'Add Meals', new_meal_path %>
  <%= link_to 'See Meals', meals_path %>