      <h1><%= @meal.sku %> </h1>
      <h1><%= @meal.description %> </h1>
      <h1><%= @meal.calories_per_unit %> </h1>
      <h1><%= @meal.protien_per_unit %> </h1>
      <h1><%= @meal.fat_per_unit %> </h1>
      <h1><%= @meal.carbohydrates_per_unit %> </h1>
      <h1><%= @meal.influences %> </h1>
      <h1><%= @meal.cost_to_produce %> </h1>
      <h1><%= @meal.sell_price %> </h1>
      <h1><%= @meal.general_rating_health %> </h1>
      <h1><%= @meal.chef_name  %> </h1>
      <h1><%= @meal.inspect  %> </h1>