<!DOCTYPE html>
<html>
<head>
  <title>Super Dank Meal Prep </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Side Navigation -->
<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="display:none" id="mySidenav">
  <h1 class="w3-xxxlarge w3-text-teal">What are you Looking for?></h1>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-xxxlarge w3-text-theme">Close <i class="fa fa-remove"></i></a>
  <a href="javascript:void(0)">My Account & orders </a>
  <a href="javascript:void(0)"><%= link_to 'Terrirtories', territory_path %>s</a>
  <a href="javascript:void(0)"> <%= link_to 'Company Info', about_path %></a>
  <a href="javascript:void(0)"><%= link_to 'Franchise', franchise_path %></a></a>
  <%= link_to 'Company Info', about_path %>
<%= link_to 'Franchise', franchise_path %>
<%= link_to 'Add Meals', new_meal_path %>
  <%= link_to 'See Meals', meals_path %></h1>

</nav>


<%= yield %>

</body>
</html>
