<!DOCTYPE html>
<html>
<head>
  <title>Super Dank Meal Prep </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li class="active"> <%= link_to 'Home', root_path %></li>
  <li> <%= link_to 'Add Meals', new_meal_path %></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<%= yield %>

</body>
</html>
